
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; Ou auto si tu veux autoriser le scroll principal */
}

@keyframes scrollText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-scroll-text {
  display: inline-block;
  animation: scrollText 5s linear infinite;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  display: inline-block;
  animation: spin-slow 6s linear infinite;
}

.input-style {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}
.input-style:focus {
  border-color: #16a34a; /* green-600 */
}

.input-style {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}
.input-style:focus {
  border-color: #16a34a;
}
